.product-card-desafio {
    margin-bottom: 30px;
    background: rgba(180, 170, 170, 0.336)
  }
  
  .card-top-container-desafio {
    text-align: center;
    padding: 0px;
    border-bottom: 1px solid #e1e1e1;
  }

  .card-top-container-desafio img {
    width: 100%;
    height: auto;
}
  
  .card-bottom-container-desafio {
    text-align: left;
    padding: 0px 10px 30px 10px;
  }
  